<p>
  <b><i>ACHIEVEMENTS AND AWARDS</i></b>
</p>
<hr />
<p><b>Elementary Graduate</b></p>
<p>3rd Honorable Mention</p>
<p>Our Lady of Lourdes Academy</p>
<p>2014</p>
<br />
<p><b>Junior High School Graduate</b></p>
<p>University of the Assumption</p>
<p>2018</p>
<br />
<p><b>Senior High School Graduate</b></p>
<p>With Honors</p>
<p>Best in Research Presenter</p>
<p>First City Providential College</p>
<p>2020</p>
<br />
<p><b>First Year College</b></p>
<p>BSIT Major in Web Development</p>
<p>Dean’s Lister – 1st semester</p>
<p>Holy Angel University - 2020</p>
<br />
<p><b>Second Year College</b></p>
<p>Dean’s Lister – 1st semester</p>
<p>President's Lister - 2nd semester</p>
<p>Holy Angel University - 2021</p>
<br />
<p><b>Third Year College</b></p>
<p>President's Lister - 1st semester</p>
<p>Holy Angel University - 2022</p>
<br />
